* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@media (max-width=1000px) {
    body {
    display: grid;
    grid-template-rows: 10vh 90vh auto 10vh;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "homescreen"
        "main"
        "footer"
}
}

p {
    font-family: 'Raleway:100', sans-serif;
}

h1 {
    font-family: 'Roboto:500', sans-serif;
    font-size: 22px;
}

h2 {
    font-family: 'Raleway:100', sans-serif;
    font-size: 18px;
    color: white;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh auto 10vh;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-areas:
        "header header header"
        "homescreen homescreen homescreen"
        ". main ."
        "footer footer footer"
}

/*HEADER*/
header {
    grid-area: header;
    background-color: #FFFE30;

    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 6em;
}

/*HOMESCREEN*/
.homescreen {
    grid-area: homescreen;
    background-image: url(img/landing%20page%20fade.png);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.homescreen > img {
    width: 40em;
    margin: 2em;
}

.homescreen > p > img {
    width: 3em;
    position: absolute;
}

main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #FFFE30;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logofoot {
    width: 6em;
}

.card {
    display: grid;
    grid-template-rows: min-content 1fr 3fr auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1fr;
    grid-template-areas:
        "xarticle xarticle"
        "title title"
        "artimg artimg"
        "subtitle subtitle"
}

#artimg1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#artimg1 > img {
    width: 20em;
}

#artimg2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#artimg3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#artimg3>img {
    width: 20em;
    position: relative;
    top: 1px;
}

#xpand {
    width: 3em;
    position: relative;
    top: 7px;
}

.xarticle {
    grid-area: xarticle;
    width: 6em;
    margin-top: 3em;
}

.title {
    grid-area: title;
    background-color: #FFFE30;
}

#logo {
    width: 4em;
    position: relative;
    top: 10px;
}

.artimg {
    grid-area: artimg;
    background-color: #FFFE30;
}

.card-content {
    grid-area: subtitle;
    background-color: black;
    color: white;
    padding: 10px;
}

h1, h2 {
    padding: 10px;
}

